
img {max-width : 100% ; height : auto ;}

/*スマホ用画面*/
body{
    background-color: blue;
}

/*タブレット用*/
@media screen and (min-width:768px){
    body{
        background-color: red;
    }
}

/*PC用*/
@media screen and (min-width:1024px){
    body{
        background-color: yellow;
    }
}